/**
 * @name NiceLookCore
 * @description CORE
 * @author im_banana
 * @version 1.0.0
 * @authorId 635250116688871425
 * @source https://github.com/ImBonana/discord-themes/tree/NiceLook
*/

:root {
    --background-image-normal: url('https://raw.githubusercontent.com/ImBonana/discord-themes/NiceLook/background-image.jpg');
    --background-primary-normal: rgba(9, 24, 51, 0);
    --background-secondary-normal: rgba(0, 11, 30, 0.247);
    --background-tertiary-normal: rgba(0, 11, 30, 0);
    --background-theme-color-normal: rgba(0, 11, 30, 0.329);
    --background-theme-color-secondary-normal: rgba(0, 11, 30, 0.5);
    --channel-hover-color-normal: rgba(1, 18, 39, 0.493);
    --channel-selected-color-normal: rgba(6, 15, 35, 0.6);
    --dplus-font-ui: var(--discord-font);
    --dplus-font-body: var(--discord-font);
    --dplus-font-header: var(--discord-font);
    --dplus-spacing-ui: 20px;
    --dplus-spacing-app: 10px;
    --scrollbar-thin-thumb: var(--scrollbar-color);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: var(--scrollbar-color);
    --scrollbar-auto-track: transparent;
    --scrollbar-auto-scrollbar-color-thumb: transparent;
    --scrollbar-auto-scrollbar-color-track: transparent;
    --background-mentioned-normal: rgba(4, 12, 58, 0.233);
    --settings-modal-background: transparent;
    --settings-modal-width: 1500px;
    --settings-modal-height: 80vh;
    --settings-background-blur: 0px;
    --roles-roundness: 0;
    --roles-roundness-calc: calc((var(--roles-roundness) + .21) * 25px);
    --text-headers-color-default: #c300ff;
    --text-bold-color-default: #00ccff;
}

.theme-dark {
    /* --background-floating: var(--background-primary); */
    --deprecated-store-bg: var(--background-primary);
    --input-background: var(--background-secondary);
}

body {
    background: var(--background-image);
    background-size: cover;
    backdrop-filter: blur(var(--background-image-blur));
}

::placeholder, body, button, input, select, textarea {
	font-family: var(--dplus-font-ui), 'Poppins', '-apple-system', 'Helvetica Neue', 'system-ui', 'Tahoma', 'Segoe UI', 'Helvetica', 'Whitney', 'Oxygen',"Pacifico", "Fredoka One", "Concert One", "Rubik", sans-serif !important;
}

* {
	font-family: var(--dplus-font-body), 'Roboto', '-apple-system', 'Helvetica Neue', 'system-ui', 'Arial', 'Helvetica', 'Whitney', sans-serif !important;
}

.theme-dark .container_b2ca13,
.wrapper_adcaac .container_adcaac,
#vc-spotify-player {
    background-color: var(--background-theme-color-secondary) !important;
}

.panels_a4d4d9 {
    box-shadow: 0px -10px 20px 0px rgb(6, 10, 36) !important;
}

/* SECTION - vencord plugin card */

.vc-addon-card {
    background-color: rgba(5, 9, 41, 0.37);
    border: 2px solid rgb(5, 9, 41);
    box-shadow: 0px 10px 20px 0px rgb(6, 10, 36) !important;
}

/* SECTION - nitro tab perk cards */
.card_c21997 {
    background-color: var(--background-secondary);

}

/* SECTION - auto complete */
.autocomplete_f23da8 {
    backdrop-filter: blur(3px);
}

.autocomplete_f23da8 .categoryHeader_fe2299 {
    background-color: var(--background-secondary);
}

.chatContent_a7d72e .channelTextArea_d0696b > div {
    background: var(--background-theme-color-secondary);
    box-shadow: 0px -5px 20px 0px rgb(6, 10, 36) !important;
}

/* SECTION - fix chat height with the message textarea */
.messagesWrapper_e2e187 .scroller_e2e187 {
    height: calc(100% - 10px);
}

/* SECTION - user controls */
.panels_a4d4d9 {
    background: none;
}

/* SECTION - blur spoiler */
.spoilerContent_a3d0f7.hidden_a3d0f7 {
    background-color: transparent !important;
    opacity: 1 !important;
    filter: blur(3px);
    pointer-events: unset;
}

.obscuredTextContentInner_a3d0f7 {
    color: var(--text-color);
}

.obscuredTextContentInner_a3d0f7 > span {
    opacity: 1 !important;
}


/* SECTION - mentions count badge */
.numberBadge_df8943.base_df8943,
.mention_c10249 {
    background: linear-gradient(145deg, rgba(0,151,255,1) 0%, rgba(141,0,255,1) 70%) !important;
}


/*SECTION - hover color */
.interactive-1vLZ_I.interactive_c91bad:hover{
    background: var(--friends-hover-color);
}

.interactive-1vLZ_I.interactive_c91bad.interactiveSelected_c91bad.selected-3veCBZ {
    background: var(--friends-selected-color);
}

.channel_c91bad.container_e9f61e:hover .layout_e9f61e {
    background: var(--friends-hover-color);
}

.interactive_c91bad.linkButton_c91bad.interactiveSelected_c91bad.selected-3veCBZ {
    background: var(--channel-selected-color);
}

.interactive_c91bad.linkButton_c91bad:hover {
    background: var(--channel-hover-color);
}

.iconVisibility_f6f816.wrapper_d8bfb3.modeSelected_d8bfb3 .wrapper_d8bfb3 {
    background-color: var(--channel-selected-color);
}

.containerDefault_f6f816:hover  .wrapper_d8bfb3 {
    background-color: var(--channel-hover-color);
}


/* SECTION - unread message pill (date and new tag) */
.isUnread_fc5f50, .unreadPill_fc5f50, .unreadPillCapStroke_fc5f50 {
    background-color: var(--unread-message-color);
    border-color: var(--unread-message-color);
}

.unreadPillCap_fc5f50 Path {
   fill: var(--unread-message-color);
}

.unreadPillCapStroke_fc5f50, .isUnread_fc5f50 {
    color: var(--unread-message-color);
}

.content_fc5f50:has(+.unreadPill_fc5f50) {
    background-color: rgb(from var(--unread-message-color) r g b / 40%) !important;
}

/* SECTION - Tooltip */ 
.tooltip_b6c360,
.tooltipPrimary_b6c360,
.tooltipContent_b6c360 {
    background-color: transparent !important;
    backdrop-filter: blur(6px);
}

/* SECTION - Settings Menu */
.contentColumnDefault_c25c6d {
    max-width: unset;
}

.sidebarRegion_c25c6d {
    flex: 0.6 0 0;
}

#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 .toolsContainer_c25c6d .closeButton_df5532 {
    z-index: 1001 !important;
    height: 45px !important;
    width: 45px !important;
    cursor: pointer;
    margin: 0 0 !important;
    padding: 0 0 !important;
    border-style: solid !important;
    border-color: #008ae6 !important;
    border-radius: 50px !important;
    border-width: 4px !important;
    display: block !important;
    background-color: none !important;
}

#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 .toolsContainer_c25c6d div.keybind_df5532 {
    color: #008ae6;
}

#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 .toolsContainer_c25c6d .closeButton_df5532 svg {
    width: 100%;
    height: 100%;
    color: #008ae6;
}

#app-mount .baseLayer_d4b6c5 {
	opacity: 1 !important;
	transform: unset !important;
	will-change: unset !important;
}

#app-mount .stop-animations * {
	transition-property: inherit !important;
	animation: inherit !important;
}

#app-mount .layer_d4b6c5.stop-animations:first-child::after {
	content: "" !important;
	position: fixed !important;
	background: rgb(0, 0, 0) !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
    opacity: 0.85 !important;
	z-index: 999 !important;
}

#app-mount .layer_d4b6c5.stop-animations:first-child::before {
    content: "" !important;
	position: fixed !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
    opacity: 0.85 !important;
	z-index: 999 !important;
    backdrop-filter: blur(4px);
}

#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 {
	position: absolute !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	background: var(--settings-modal-background) !important;
	border-radius: 5px !important;
	box-shadow: var(--elevation-high) !important;
	width: var(--settings-modal-width) !important;
	height: var(--settings-modal-height) !important;
	margin: auto !important;
	padding: 0 !important;
	overflow: hidden !important;
	contain: unset !important;
	z-index: 1000 !important;
    background-color: rgba(0, 0, 10, 0.4) !important;
    backdrop-filter: blur(var(--settings-background-blur)) !important;
}

#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 > div,
#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 .contentColumnDefault_c25c6d {
	position: static !important;
	border-radius: unset !important;
	width: 100% !important;
	height: 100% !important;
	margin: unset !important;
	padding: unset !important;
}
#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 .sidebar_c25c6d {
	width: 218px !important;
	padding: 20px 6px 20px 20px !important;
}

#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 .contentColumnDefault_c25c6d {
	padding: 20px 40px !important;
}
#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 .sidebar_c25c6d {
	height: var(--settings-modal-height) !important;
}
#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 .repoHeader-2KfNvH {
	max-width: calc(var(--settings-modal-width) - 258px) !important;
}
#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 .contentColumnDefault_c25c6d .editor {
	height: calc(var(--settings-modal-height) - 120px) !important;
}

#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 .header_a0 {
	max-width: calc(var(--settings-modal-width) - 730px) !important;
}

#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 .sidebarRegion_c25c6d {
	flex-grow: 0;

}
#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 .contentRegion_c25c6d .contentTransitionWrap_c25c6d {
    display: flex;
}

#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 .contentRegion_c25c6d .contentRegionScroller_c25c6d {
    flex: unset !important;
    justify-content: unset;
    max-width: none !important;
    min-width: 100% !important;
}

#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 .contentRegion_c25c6d .contentColumn_c25c6d {
    max-width: none !important;
}

.userInfo_b69b77 .avatar_b69b77 {
    top: 150px !important;
    left: 65px !important;
    width: 100px !important;
    height: 100px !important;
}


.userInfo_b69b77 div:nth-child(2) {
    margin-left: 65px;
}

.children_a6ae9b:after {
    content: none;
}

.theme-dark .inset_c0f6a6 {
    background-color: var(--background-theme-color);
}

/* End */



/* SECTION - Role pill background */
.role_e4010c .roleCircle_a26d7b:before {
    border-radius: 4px;
}

.role_e4010c {
    transform: translate(0);
    border: 0;
}

.role_e4010c .roleRemoveIcon_e4010c {
    margin: 0;
    left: unset;
    transform: translate(50%, -50%);
}

.role_e4010c .roleRemoveButton_e4010c {
    position: static;
}

.root_e4010c > .role_e4010c .roleCircle_a26d7b:before {
    content: '';
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    background: inherit;
    border: 2px solid transparent;
    opacity: .4;
}

.roles_fa2f72 {
    color: var(--text-normal);
}

/* SECTION - pronouns background */ 
.pronouns_c9ccf6 {
    color: var(--text-normal);
    background: linear-gradient(var(--profile-gradient-primary-color),var(--profile-gradient-primary-color) 60px,var(--profile-gradient-secondary-color));
    padding: 2px 8px;
    margin-top: 3px;
    border-radius: 4px;
}

/* SECTION - bold colors */ 
[class*=messageContent] :is(h1, h2, h3),
[class*=messageContent] u:has(:is(h1, h2, h3)),
[class*=messageContent] s:has(:is(h1, h2, h3)) {
    color: var(--text-headers-color);
}

[class*=messageContent] strong,
[class*=messageContent] u:has(strong),
[class*=messageContent] s:has(strong) {
    color: var(--text-bold-color);
}

/* SECTION - hover animation */
.interactiveSelected_c91bad.selected_f5eb4b,
.wrapper_d8bfb3.modeSelected_d8bfb3 .link_d8bfb3,
.member_a31c43.container_e9f61e.selected_e9f61e > div,
.peopleListItem_d51464.active_d51464,
.outer_c0f6a6.interactive_c0f6a6.active_c0f6a6,
.item_c2739c.selected_a0, .item_a0.selected_a0,
.container_c64476.selected_c64476 {
    background-color: var(--channel-selected-color) !important;
    transform: translateY(-5px);
}

.interactive_f5eb4b:hover,
.wrapper_d8bfb3:hover .link_d8bfb3,
.member_a31c43.container_e9f61e:hover > div,
.peopleListItem_d51464:hover,
.outer_c0f6a6.interactive_c0f6a6:hover,
.item_a0:hover:not(.disabled_a0):not(.addFriend_c2739c),
.container_c64476:hover,
.autocompleteRow_f23da8:hover > .base_f23da8 {
    background-color: var(--channel-hover-color) !important;
    transform: translateY(-5px);
}

.interactive_f5eb4b,
.wrapper_d8bfb3 .link_d8bfb3,
.member_a31c43.container_e9f61e> div,
.peopleListItem_d51464,
.outer_c0f6a6.interactive_c0f6a6,
.item_a0,
.container_c64476,
.autocompleteRow_f23da8 > .base_f23da8 {
    transition: transform 150ms ease-in-out;
}

/* SECTION - message mentioned background */
.message_d5deea.mentioned_d5deea,
.message_d5deea.mentioned_d5deea:hover {
    background-color: var(--background-mentioned) !important;
}

.message_d5deea.mentioned_d5deea::before {
    background-color: #008ae6;
}

.divider_d5deea {
    --divider-color: #008ae6; 
}

.divider_d5deea .content_fc5f50 {
    background-color: var(--background-secondary);
    color: rgb(206, 206, 206);
}


/* SECTION - Jump To Present Bar Revamp */
[class*="jumpToPresentBar"],
[class*="newMessagesBar"] {
    display: contents;
}

[class*="jumpToPresentBar"] > button:first-child,
[class*="newMessagesBar"] > button:first-child {
    display: none;
}

[class*="jumpToPresentBar"] > button:last-child,
[class*="newMessagesBar"] > button:last-child {
    position: absolute;
    z-index: 1;
    bottom: 24px;
    right: 22px;
    padding: 8px !important;
    height: auto;
    background-color: var(--background-accent);
    box-shadow: var(--elevation-high);
    border-radius: 100px;
    display: flex;
    font-size: 0px;
    color: transparent;
    transition: font-size .2s .1s, color .2s, padding .4s .1s;
}

[class*="newMessagesBar"] > button:last-child {
    bottom: 70px;
    background-color: var(--brand-experiment);
}

[class*="jumpToPresentBar"] > button svg,
[class*="newMessagesBar"] > button svg {
    order: -1;
    margin: 0px;
    height: 24px;
    width: 24px;
    top: auto;
    margin-right: 0px;
    margin-left: 0px;
    color: #FFFFFF;
    transition: margin .6s;
}

[class*="jumpToPresentBar"]:hover > button,
[class*="newMessagesBar"]:hover > button {
    padding: 8px 18px !important;
    font-size: 14px;
    color: #FFFFFF;
    transition: font-size .2s, color .2s .1s, padding .4s;
}

[class*="jumpToPresentBar"]:hover > button svg,
[class*="newMessagesBar"]:hover > button svg {
    margin-right: 2px;
    margin-left: -6px;
}

/* SECTION - call background */
.chat_a7d72e .wrapper_d880dc,
.callContainer_d880dc {
    background-color: var(--background-theme-color-secondary);
}

/* SECTION - all search bars */
.searchBar_e0840f.container_c18ec9,
.searchBar_a46bef {
    background-color: var(--background-secondary);
}


/* SECTION - the # icon at the start of a text channel */
.emptyChannelIcon_c2668b {
    background-color: var(--background-secondary);
}

/* SECTION - browse channels tab */
.chat_a7d72e .header_f1fd9c {
    background-color: var(--background-secondary);
}

.chat_a7d72e .container_f1fd9c,
.chat_a7d72e .container_f1fd9c > .container_c2efea {
    background-color: var(--background-primary);
}

/* SECTION - selectmenu */
.layer_cd0de5 > .popout_f6639d {
    backdrop-filter: blur(3px);
}
