:root {
    --background-image-normal: url('https://raw.githubusercontent.com/pronoob742/BetterDiscord-Theme-NiceLook/main/NiceLook--Background-Image.jpg');
    --background-primary-normal: rgba(9, 24, 51, 0);
    --background-secondary-normal: rgba(0, 11, 30, 0.247);
    --background-secondary-alt-normal: transparent;
    --background-tertiary-normal: rgba(0, 11, 30, 0);
    --deprecated-panel-background-normal: rgba(9, 24, 51, 0);
    --channeltextarea-background-normal: rgba(19, 62, 124, 0);
    --channel-hover-color-normal: rgba(1, 18, 39, 0.493);
    --channel-selected-color-normal: rgba(6, 16, 37, 0.39);
    --friends-hover-color-normal: rgba(0, 45, 100, 0.575);
    --friends-selected-color-normal: rgba(1, 18, 39, 0.493);
    --settings-selected-color-normal: rgba(13, 23, 77, 0.527);
    --scrollbar-thin-thumb: var(--scrollbar-color);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: var(--scrollbar-color);
    --scrollbar-auto-track: transparent;
    --scrollbar-auto-scrollbar-color-thumb: transparent;
    --scrollbar-auto-scrollbar-color-track: transparent;
    --dplus-font-ui: var(--discord-font);
    --dplus-font-body: var(--discord-font);
    --dplus-font-header: var(--discord-font);
    --dplus-spacing-ui: 20px;
    --dplus-spacing-app: 10px;
}

body {
    background: var(--background-image);
    background-size: cover;
    backdrop-filter: blur(var(--background-image-blur));
}

::placeholder, body, button, input, select, textarea {
	font-family: var(--dplus-font-ui), 'Poppins', '-apple-system', 'Helvetica Neue', 'system-ui', 'Tahoma', 'Segoe UI', 'Helvetica', 'Whitney', 'Oxygen',"Pacifico", "Fredoka One", "Concert One", "Rubik", sans-serif !important;
}

p, bodyarea, input, placeholder,
.message-2qnXI6, .markup-2BOw-j,
.member-3-YXUe,
.customStatusText-3YJeRZ,
.modeDefault-3a2Ph1, 
.emojiInput-1aLNse, .emojiAliasPlaceholder-3H_iZA,
.topic-TCb_qw,
.content-38qMG0,
.bd-description {
	font-family: var(--dplus-font-body), 'Roboto', '-apple-system', 'Helvetica Neue', 'system-ui', 'Arial', 'Helvetica', 'Whitney', sans-serif !important;
}

header, h1,
.nameAndDecorators-5FJ2dg,
.headerNameWrapper-3res2c,
.username-1A8OIy,
.nameTag-m8r81H,
.headerText-2WJ44e
.nameTag-3uD-yy, 
.detailsInner-1VPlWl,
.activityName-1IaRLn, 
.emojiUploader-1f0pVx, 
.userHook-3AdCBF,
.secondaryHeader-2oeRPO,
.roleName-32vpEy,
.roleName-1vjSQR, .roleName-2IkRdr,
.membersGroup-v9BXpm,
.roleRow-1iQo_1,
.roleMention-2Bj0ju,
.wrapper-3WhCwL, 
[data-slate-object="inline"] .mention,
.name-3l27Hl, 
.name-23GUGE, 
.title-29uC1r,
.title-3sZWYQ,
.bd-author, .bd-meta .bd-link,
.timestamp-3ZCmNB {
	font-family: var(--dplus-font-header), 'Righteous', 'Century Gothic', 'Franklin Gothic Medium', 'Britannic', 'Helvetica Neue', 'Helvetica', 'Whitney', sans-serif !important;
}

.nowPlayingColumn-2sl4cE {
    background: transparent !important;
}

.layer-3QrUeG, .standardSidebarView-3F1I7i, .contentRegionScroller-26nc1e, .sidebarRegionScroller-3MXcoP {background-color: transparent;}
.contentColumn-2hrIYH, .customColumn-Rb6toI {
	max-width: 100%;
}
.sidebarRegion-VFTUkN {
    max-width: 500px;
	margin-right: var(--dplus-spacing-app);
}
.standardSidebarView-3F1I7i .contentRegion-3nDuYy,
.standardSidebarView-3F1I7i .contentRegion-3nDuYy {
	max-width: 100%;
}
.standardSidebarView-3F1I7i .contentRegion-3nDuYy.default,
.standardSidebarView-3F1I7i .sidebarRegion-VFTUkN .sidebar {
	padding-top: 45px;
}
.sidebar-CFHs9e {
	padding: calc(30px + var(--dplus-spacing-ui)) var(--dplus-spacing-ui) var(--dplus-spacing-ui) calc(var(--dplus-spacing-ui) * 2)
}
.contentColumnDefault-1VQkGM {
    padding: calc(30px + var(--dplus-spacing-ui)) calc(var(--dplus-spacing-ui) * 2) calc(var(--dplus-spacing-ui) * 2);
}
.horizontal-1ae9ci>.flex-1xMQg5, .horizontal-1ae9ci>.flexChild-faoVW3 {
	margin-left: var(--dplus-spacing-ui);
}
.radioBar-bMNUI- {
	border-radius: var(--dplus-radius-ui);
}

.marginBottom8-AtZOdT {
	margin-bottom: var(--dplus-spacing-ui);
}
.marginBottom40-2vIwTv {
	margin-bottom: calc(10px + var(--dplus-spacing-ui));
}
.marginTop40-i-78cZ {
	margin-top: calc(10px + var(--dplus-spacing-ui));
}

.preview-2nSL_2 {
	height: calc(180px + var(--dplus-spacing-ui));
}

.profileBannerPreview-3FLQKD,
.profileBannerPreview-3FLQKD .avatarUploaderInner-3UNxY3 {
	border-radius: var(--dplus-radius-ui);
}

.platform-osx [id="user-settings"] {
	left: -5px !important;
	top: -5px !important;
	right: -5px !important;
	bottom: -5px !important;
}

.platform-win [id="user-settings"] {
	left: -5px !important;
	top: -27px !important;
	right: -5px !important;
	bottom: -5px !important;
}

.platform-linux [id="user-settings"] {
	left: -5px !important;
	top: -5px !important;
	right: -5px !important;
	bottom: -5px !important;
}

#app-mount .standardSidebarView-3F1I7i .contentRegion-3nDuYy,
#app-mount .standardSidebarView-3F1I7i .sidebarRegion-VFTUkN {
	border-radius: var(--dplus-radius-ui);
}

html:not(.reduce-motion) #app-mount .standardSidebarView-3F1I7i .contentRegion-3nDuYy,
html:not(.reduce-motion) #app-mount .standardSidebarView-3F1I7i .sidebarRegion-VFTUkN,
html:not(.reduce-motion) .item-PXvHYJ,
html:not(.reduce-motion) .itemDefault-3Jdr52,
html:not(.reduce-motion) .itemHover-EnbcjT,
html:not(.reduce-motion) .ui-tab-bar-item,
html:not(.reduce-motion) #app-mount .side-8zPYf6 .itemDefault-3Jdr52:hover,
html:not(.reduce-motion) #app-mount .side-8zPYf6 .itemHover-EnbcjT:hover,
html:not(.reduce-motion) #app-mount #bd-settings-sidebar .ui-tab-bar-item:hover,
html:not(.reduce-motion) #app-mount .closeButton-1tv5uR {
	transition: background-color, color;
	transition-duration: var(--dplus-anim-short);
}

.cardPrimary-1Hv-to, .cardPrimaryOutline-29Ujqw, .item-26Dhrx {
	border-radius: var(--dplus-radius-ui);
}

#app-mount .side-8zPYf6 .itemDefault-3Jdr52:hover,
#app-mount .side-8zPYf6 .itemHover-EnbcjT:hover,
#app-mount #bd-settings-sidebar .ui-tab-bar-item:hover {
	background-color: var(--background-modifier-hover);
}
#app-mount .closeButton-1tv5uR {
	border-color: var(--dplus-accent-ui);
	border-radius: var(--dplus-radius-ui);
}

#app-mount .closeButton-1tv5uR:hover, .item-26Dhrx[aria-checked=true] {background-color: var(--dplus-accent-ui);}
#app-mount .closeButton-1tv5uR path {fill: var(--dplus-accent-ui);}
#app-mount .closeButton-1tv5uR:hover path {fill: white}
#app-mount .closeButton-1tv5uR + .keybind-KpFkfr {color: var(--text-normal);}
.background-1QDuV2 { border-radius: var(--dplus-radius-ui); }
.item-26Dhrx:hover:not([aria-checked=true]) {background-color: var(--dplus-bgc-ui-card-hover);}


.scrollableContainer-2NUZem {
    background-color: rgba(0, 0, 0, 0.42);
}

#app-mount .wrapper-3WhCwL {
    background: var(--gradient);
    color: rgb(0, 140, 255);
    background-color: rgba(0, 132, 255, 0.03);
}

.tabBar-ZmDY9v .badge-1Skb69 {
    background-color: rgb(240, 42, 42);
    margin-left: 6px;
}

#app-mount::after {
    content: none;
    z-index: 0;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    width: auto;
    display: inline-block;
    position: absolute;
    padding: 0px;
    box-sizing: border-box;
    opacity: 0;
}

.userPopout-xaxa6l {
    background-color: rgba(3, 13, 32, 0.527);
}

.bodyInnerWrapper-26fQXj {
    background-color: rgba(6, 33, 65, 0.212);
}

.input-2_SIlA {
    background-color: rgba(6, 33, 65, 0.212);
}

.footer-3UKYOU {
    background-color: rgba(0, 119, 255, 0.05);
}

.mentioned-xhSam7 {
    position: relative;
    background-color: rgba(0, 0, 0, 0);
}

.ephemeral-1PsL1r:before, .mentioned-xhSam7:before, .replying-1x3H0T:before {
    background-color: #008ae6;
}

.container-1r6BKw.themed-ANHk51 {
    background: rgba(0, 11, 30, 0.062);
}

.scroller-1Bvpku {
    background-color: rgba(0, 11, 30, 0.74);
}

.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9 {
    color: #fff;
    background-color: rgba(5, 37, 114, 0.288);
}

.sidebarRegionScroller-3MXcoP {
    background-color: rgba(0, 11, 30, 0.534);
}

.panels-j1Uci_ {
    background-color: rgba(1, 6, 14, 0.527);
}

.cozy-3raOZG .timestamp-3ZCmNB {
    color: rgba(194, 194, 194, 0.712);
}

.content-2M3n_H a {
    color: white;
}
.content-2M3n_H {
    color: var(--text-color);

}

.overflow-WK9Ogt {
    color: var(--text-color);
}

a, button, div, input, label, select, strong, textarea {
    outline: 0;
    color: var(--name-text-color);
}

.bd-addon-list .bd-addon-header {
    color: var(--header-primary);
    background: rgba(0, 11, 30, 0.24);
    padding: 16px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.closeButton-1tv5uR {
    border-color: #2a78ff !important;
}

#app-mount .closeButton-1tv5uR path {
    fill: #2a78ff;
}

.lookInverted-2D7oAl.colorBrand-3pXr91 {
    color: var(--brand-experiment);
    background-color: rgb(234, 0, 255);
}

.wrapper-2qzCYF.minimum-28Z35l {
    height: 240px;
    background-color: rgba(0, 11, 30, 0.432);
}

.colorable-1bkp8v.primaryDark-3mSFDl {
    background: rgba(0, 11, 30, 0.288);
}


.theme-dark .container-1D34oG {
    background-color: transparent;
}

.theme-dark .elevationHigh-3A9Xbf {
    -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
}
.root-3JVdIJ {
    background: transparent;
}

.theme-dark .root-1gCeng {
    background-color: #36393f00;
    -webkit-box-shadow: 0 0 0 1px rgba(32,34,37,.6), 0 2px 10px 0 rgba(0,0,0,.2);
    box-shadow: 0 0 0 1px rgba(32,34,37,.6), 0 2px 10px 0 rgba(0,0,0,.2);
}

.theme-dark .footer-2gL1pp {
    background-color: #2f313600;
    -webkit-box-shadow: inset 0 1px 0 rgba(47,49,54,.6);
    box-shadow: inset 0 1px 0 rgba(47,49,54,.6);
}

.theme-dark .inset-3sAvek {
    background-color: rgba(4, 25, 49, 0.137);
}

.menu-3sdvDG {
    box-shadow: rgb(0, 11, 30);
    background: rgba(3, 13, 32, 0.671);
}


.markup-2BOw-j a {
    color: rgb(0, 255, 0);
    word-break: break-word;
    text-decoration: none;
    cursor: pointer;
}

.content-2M3n_H a {
    cursor: pointer;
    color: var(--interactive-active);
    font-weight: 500;
}

.avatar-37jOim {
    border: 6px solid var(--avater-border-color);
    background-color: var(--avater-border-color);
}

.inspector-S2gM3e {
    background-color: rgba(3, 13, 32, 0.671);
}

.emojiItem-14v6tW.emojiItemSelected-1aLkfV {
    background-color: rgba(3, 13, 32, 0.281);
}

.navButtonActive-1MkytQ {
    background-color: rgba(3, 13, 32, 0.336);
}

.message-2qnXI6.mentioned-xhSam7.selected-2P5D_Z, .mouse-mode.full-motion .mentioned-xhSam7:hover {
    background-color: rgba(8, 64, 128, 0.11);
}

.card-3RzMcx {
    background-color: rgba(6, 52, 105, 0.270);
}

.card-3RzMcx:hover {
    background-color: rgba(6, 52, 105, 0.135);
}

.role-2irmRk {
    background: rgba(4, 39, 80, 0.534);
}

.clickable-1JJAn8.container-2Pjhx-:active, .highlighted-1gWxXa.container-2Pjhx-, .selected-aXhQR6.container-2Pjhx- {
    color: var(--interactive-active);
}

.theme-dark .outer-1AjyKL.active-1xchHY, .theme-dark .outer-1AjyKL.interactive-3B9GmY:hover {
    background-color: rgb(0, 16, 35, 0.45);
}

.connectedAccountIcon-3_EQqg ~ div::before {
    content: "";
    top: 0; bottom: 0; left: 0; right: 0;
    border: 1px solid var(--border-color);
    position: absolute;
    display: block;
    pointer-events: none;
}

.connectedAccount-2Jb-Z0 {
    overflow: hidden;
    position: relative;
}

/* Spotify */
.connectedAccountIcon-3_EQqg[src="/assets/7906941c1205ba04b6921f2af4c6a170.png"] ~ div::before {--border-color: #1ED760;}
/* Github */
.connectedAccountIcon-3_EQqg[src="/assets/afb09840b496f2c49032075a33da7fab.png"] ~ div::before {--border-color: #fff;}
/* Twitch */
.connectedAccountIcon-3_EQqg[src="/assets/007e5cb8871cf0987283c6307ce7fed0.png"] ~ div::before {--border-color: #563194;}
/* Twitter */
.connectedAccountIcon-3_EQqg[src="/assets/6919f2a578d91a5d033b639f0fb52b3d.png"] ~ div::before {--border-color: #0099E4;}
/* xbox */
.connectedAccountIcon-3_EQqg[src="/assets/746aba83c88f087e3eef23a47dd57923.png"] ~ div::before {--border-color: #5EC220;}
/* Reddit */
.connectedAccountIcon-3_EQqg[src="/assets/b46c06eb71dc56a41432512168e6759a.png"] ~ div::before {--border-color: #FF4500;}
/* Battle.net */
.connectedAccountIcon-3_EQqg[src="/assets/7b964801001dd47cc05a91d6dacf6075.png"] ~ div::before {--border-color: #0099E4;}
/* Steam */
.connectedAccountIcon-3_EQqg[src="/assets/a9c26c8bebe406ca1adc1967bc532224.png"] ~ div::before {--border-color: #000000;}
/* YouTube */
.connectedAccountIcon-3_EQqg[src="/assets/25ec573cf82ee36d12296628f6bec11b.png"] ~ div::before {--border-color: #D9252A;}
/* Facebook */
.connectedAccountIcon-3_EQqg[src="/assets/3d189c41ce8155dfebf86ba2d1acfbbc.png"] ~ div::before {--border-color: #2D3283;}
/* LOL */
.connectedAccountIcon-3_EQqg[src="/assets/a0e2182e843745c73f7f3c8325a05ea9.png"] ~ div::before {--border-color: #CEA146;}

/* settings/deafen/mute buttons animated */
.button-14-BFJ:hover .contents-18-Yxp {
  animation: UserModalButtons 0.5s normal ease;
}
.container-3baos1 .noWrap-3jynv6 {
  width: 100px;
  opacity: 1;
}
.button-14-BFJ {
  transition: 0.2s;
}
.button-14-BFJ:hover {
  padding-bottom: 0px;
  transition: 0.2;
}
@keyframes UserModalButtons {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

#private-channels a[href="/store"] {
    display: none;
}

/* HOVER ANIM */

.mainContent-u_9PKf, .clickable-1JJAn8.container-2Pjhx-,
.clickable-1JJAn8.container-2Pjhx- .muted-3mU76i,
.listDefault-3ir5aS .clickable-1lCRLF .username-3KYl0N,
.peopleListItem-2nzedh.active-rhSpJJ, .peopleListItem-2nzedh,
.side-8zPYf6 .themed-OHr7kt.item-PXvHYJ:not(.disabled-1Hwwfb),
.topPill-30KHOu .themed-OHr7kt.item-PXvHYJ:not(.disabled-1Hwwfb) {
    transition-duration: 0.3s;
    transform: translateY(0px);
}

.mainContent-u_9PKf:hover,
.clickable-1JJAn8.container-2Pjhx-:hover, 
.clickable-1JJAn8.container-2Pjhx-:hover .muted-3mU76i,
.listDefault-3ir5aS .clickable-1lCRLF:hover .username-3KYl0N,
.peopleListItem-2nzedh.active-rhSpJJ, .peopleListItem-2nzedh:hover,
.side-8zPYf6 .themed-OHr7kt.item-PXvHYJ:hover:not(.disabled-1Hwwfb),
.topPill-30KHOu .themed-OHr7kt.item-PXvHYJ:hover:not(.disabled-1Hwwfb) {
    transform: translateY(-5px);
}

/* END */

.mainContent-u_9PKf .noWrap-3jynv6 {
    width: 100px;
    opacity: 1;
}

.wrapper-2jXpOf:hover .content-1x5b-n {
    background-color: var(--channel-hover-color);
}

.clickable-1JJAn8.container-2Pjhx-:hover, .clickable-1JJAn8.container-2Pjhx-:hover .muted-3mU76i {
    background-color: var(--friends-hover-color);
}

.selected-aXhQR6 .layout-2DM8Md {
    background-color: var(--channel-selected-color);
}

.modeSelected-346R90 .content-1x5b-n, .modeSelected-346R90:hover .content-1x5b-n {
    background-color: var(--channel-selected-color);
}

.peopleListItem-2nzedh.active-rhSpJJ, .peopleListItem-2nzedh:hover {
    background-color: var(--channel-hover-color);
}

.side-8zPYf6 .themed-OHr7kt.item-PXvHYJ:hover:not(.disabled-1Hwwfb),
.topPill-30KHOu .themed-OHr7kt.item-PXvHYJ:hover:not(.disabled-1Hwwfb) {
    background-color: var(--settings-hover-color);
}

.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, .topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ {
    background-color: var(--settings-selected-color);
}

#app-mount .tooltipPrimary-1d1ph4 {
    background-color: var(--background-secondary);
    backdrop-filter: blur(var(--tool-tip-blur));
    
}

#app-mount .tooltipPrimary-1d1ph4 .tooltipPointer-3ZfirK {
    border-top-color: var(--background-secondary);
}
