/**
 * @name NiceLook
 * @description discord Theme (Require dark mode)
 * @author Im_banana#6112
 * @version 1.0.0
 * @authorId 635250116688871425
 * @source https://github.com/pronoob742/BetterDiscord-Theme-NiceLook/tree/main
*/

@import url('https://pronoob742.github.io/BetterDiscord-Theme-NiceLook/core.css');
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

:root {
    --discord-font: "Rubik";
    --normal-backround-image: url('https://raw.githubusercontent.com/pronoob742/BetterDiscord-Theme-NiceLook/main/NiceLook--Background-Image.jpg');

    --background: var(--normal-background-image);
    --background-image-blur: 2px;
    --popout-modal-blur: 0px;
    --profile-popup-text-color: rgba(6, 52, 105, 0.137);
    --text-color: rgb(221, 221, 221);
    --name-text-color: rgb(255, 255, 255);
    --dplus-font-ui: var(--discord-font);
    --dplus-font-body: var(--discord-font);
    --dplus-font-header: var(--discord-font);
	--dplus-spacing-ui: 20px;
	--dplus-spacing-app: 10px;
}
