/**
 * @name NiceLook
 * @description discord Theme (Require dark mode)
 * @author im_banana
 * @version 1.0.0
 * @authorId 635250116688871425
 * @source https://github.com/ImBonana/BetterDiscord-Theme-NiceLook/tree/main
*/

@import url("https://ImBonana.github.io/BetterDiscord-Theme-NiceLook/core.css");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

:root {
    --discord-font: "Rubik";
    --background-image: var(--background-image-normal);
    --background-image-blur: 2px;
    --tool-tip-blur: 2px;
    --popout-modal-blur: 0px;
    --profile-popup-text-color: rgba(6, 52, 105, 0.137);
    --text-color: rgb(221, 221, 221);
    --text-headers-color: var(--text-headers-color-default);
    --text-bold-color: var(--text-bold-color-default);
    --name-text-color: rgb(255, 255, 255);
    --scrollbar-color: rgba(0, 153, 255, 0.315);
    --avater-border-color: rgba(9, 17, 32, 0.329);
    --unread-message-color: #0099E4;
    --channel-hover-color: var(--channel-hover-color-normal);
    --channel-selected-color: var(--channel-selected-color-normal);
    --friends-hover-color: var(--friends-hover-color-normal);
    --friends-selected-color: var(--friends-selected-color-normal);
    --settings-hover-color: var(--channel-hover-color-normal);
    --settings-selected-color: var(--settings-selected-color-normal);
    --background-primary: var(--background-primary-normal);
    --background-secondary: var(--background-secondary-normal);
    --background-secondary-alt: var(--background-secondary-alt-normal);
    --background-tertiary: var(--background-tertiary-normal);
    --deprecated-panel-background: var(--deprecated-panel-background-normal);
    --channeltextarea-background: var(--channeltextarea-background-normal);
    --settings-background-blur: 0px;
    --settings-modal-background: transparent;
}
