/**
 * @name NiceLook
 * @description discord Theme (Require dark mode)
 * @author Im_banana#6112
 * @version 1.0.0
 * @authorId 635250116688871425
 * @source https://github.com/pronoob742/BetterDiscord-Theme-NiceLook
 * @invite RKAK7fBK6y
 */

 @import url("https://pronoob742.github.io/BetterDiscord-Theme-NiceLook/Core.css");
 @import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

 :root {
    --discord-font: "Rubik";

    --background: var(--normal-background-image);
    --background-image-blur: 2px;
    --popout-modal-blur: 0px;
    --profile-popup-text-color: rgba(6, 52, 105, 0.137);
    --text-color: rgb(221, 221, 221);
    --name-text-color: rgb(255, 255, 255);
}
